<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Suite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Passed',     [[${report.getPassedTests().size()}]]],
                ['Failed',     [[${report.getFailedTests().size()}]]]
            ]);

            var options = {
                title: 'Pass rate',
                pieSliceText: "value",
                slices: {
                    0: { color: '#50C878' },
                    1: { color: 'red' }
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>
</head>
<body>

    <div th:replace="vladislav/header :: copy"></div>

    <div class="container">
        <div class="card-deck text-center" style="justify-content: center; align-items: center">
            <div id="piechart" style="width: 500px; height: 300px;"></div>
            <div>
                <p th:text="'Passrate ' + ${passrate} + '%'">
                <p th:text="'Passed ' + ${report.getPassedTests().size()}">
                <p th:text="'Failed ' + ${report.getFailedTests().size()}">
                <p th:text="'Finished ' + ${report.getFinishedTests().size()}">
                <p th:text="'Not finished ' + ${report.getNotFinishedTests().size()}">
                <p th:text="'Total ' + ${report.getAllTests().size()}">
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Suite name</th>
                <th scope="col">Result</th>
                <th scope="col">Status</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="suite : ${suites}">
                <td scope="row">
                    <a target="_blank" th:text="${suite.getName()}" th:href="@{/tests/{ids}(ids=${suite.getId()})}">name</a>
                </td>
                <div th:switch="${suite.getResult()}">
                    <td th:case="passed" class="table-success" th:text="${suite.getResult()}">result</td>
                    <td th:case="failed" class="table-danger" th:text="${suite.getResult()}">result</td>
                    <td th:case="skip" class="table-secondary" th:text="${suite.getResult()}">result</td>
                    <td th:case="*" class="table-primary" th:text="${suite.getResult()}">result</td>
                </div>
                <div th:switch="${suite.getStatus()}">
                    <td th:case="finish" class="table-success" th:text="${suite.getStatus()}">status</td>
                    <td th:case="run" class="table-primary" th:text="${suite.getStatus()}">status</td>
                    <td th:case="ready" class="table-primary" th:text="${suite.getStatus()}">status</td>
                    <td th:case="*" class="table-secondary" th:text="${suite.getStatus()}">status</td>
                </div>
                <td th:text="${suite.getStartHour()} + ':' + ${suite.getStartMinute()} + ':' + ${suite.getStartSecond()}">start time</td>
                <td th:text="${suite.getEndHour()} + ':' + ${suite.getEndMinute()} + ':' + ${suite.getEndSecond()}">end time</td>
            </tr>
        </tbody>
    </table>

</body>
</html>