<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tests in suite</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div th:replace="vladislav/header :: copy"></div>

    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Test name</th>
                <th scope="col">Result</th>
                <th scope="col">Status</th>
                <th scope="col">Start time</th>
                <th scope="col">End time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="currentTest : ${tests}">
                <td scope="row">
                    <a target="_blank" th:text="${currentTest.getName()}" th:href="@{/test_details/{id}(id=${currentTest.getId()})}">name</a>
                </td>
                <div th:switch="${currentTest.getResult()}">
                    <td th:case="passed" class="table-success" th:text="${currentTest.getResult()}">result</td>
                    <td th:case="failed" class="table-danger" th:text="${currentTest.getResult()}">result</td>
                    <td th:case="skip" class="table-secondary" th:text="${currentTest.getResult()}">result</td>
                    <td th:case="*" class="table-primary" th:text="${currentTest.getResult()}">result</td>
                </div>
                <div th:switch="${currentTest.getStatus()}">
                    <td th:case="finish" class="table-success" th:text="${currentTest.getStatus()}">status</td>
                    <td th:case="run" class="table-primary" th:text="${currentTest.getStatus()}">status</td>
                    <td th:case="ready" class="table-primary" th:text="${currentTest.getStatus()}">status</td>
                    <td th:case="*" class="table-secondary" th:text="${currentTest.getStatus()}">status</td>
                </div>
                <td th:text="${currentTest.getStartHour()} + '.' + ${currentTest.getStartMinute()} + '.' + ${currentTest.getStartSecond()}">start time</td>
                <td th:text="${currentTest.getEndHour()} + '.' + ${currentTest.getEndMinute()} + '.' + ${currentTest.getEndSecond()}">end time</td>
            </tr>
        </tbody>
    </table>

</body>
</html>